.header {
    position: relative;
    padding: 20px 10px;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1000;
    transition:
      transform 0.3s ease,
      backdrop-filter 0.3s ease;
}

  