.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px 10px;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(10px);
  transition:
    transform 0.3s ease,
    backdrop-filter 0.3s ease;
}

.scroll-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
  z-index: 1003;
}

.header-left {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.headertext {
  transition: transform 0.3s ease;
}

.headertext.scrolled {
  opacity: 0.6;
  font-size: 1.5rem;
}

.headertext {
  display: inline-block;
  white-space: nowrap;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.header-right {
  position: absolute;
  margin-right: 40px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.header-right button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition:
    border 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
}

.header-right button {
  transition: transform 0.3s ease;
}

.header-right button .button-content {
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-right button:hover .button-content {
  transform: rotate(90deg);
}

.header-right button:hover {
  background-color: #444;
}

@media (max-width: 600px) {
  .header {
    padding: 10px 5px;
  }

  .header-left {
    left: 5px;
  }

  .headertext {
    font-size: 1.5rem;
  }

  .headertext.scrolled {
    font-size: 1rem;
  }

  .header-right {
    right: 5px;
  }

  .header-right button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .header {
    padding: 10px 5px;
  }

  .header-left {
    left: 5px;
  }
}

body.light-mode .header {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

body.light-mode .header-right button {
  background-color: white;
  color: black;
}

body.light-mode .header-right button:hover {
  background-color: #ddd;
}
